<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rognrrr.springbootdemo.dao.UserMapper" >

    <select id="getUserByEmail" parameterType="Map" resultType="com.rognrrr.springbootdemo.entity.User">
        SELECT * FROM r_user WHERE user_email = #{userEmail}
    </select>

    <select id="getUserList" resultType="com.rognrrr.springbootdemo.entity.User">
        SELECT * FROM t_user
    </select>

</mapper>